<ion-content style="position:relative;">
    <div><ion-buttons style="position:absolute;top:0"  slot="start" >
        <ion-back-button defaultHref="/" style="color: #fff;"></ion-back-button>
    </ion-buttons></div>
  <div class="menu-position">
      <div class="menu"></div>
      <div class="menu"></div>
      <div class="menu"></div>
  </div>
  <ion-row no-padding no-margin>
      <img class="referEarn_img" src="../../assets/imgs/profile_pix.png">
  </ion-row>

  <ion-row class="refer-info">
    <ion-col text-wrap>
        <h2>Refer and earn</h2>
        <p>
          Share the referral code with your friends and family members and get 30% on cab fare
        </p>
    </ion-col>
  </ion-row>

  <ion-card class="referEarn_code">
    <p>Your Referral Code</p>
    <h1 style="letter-spacing:2px;"><b>532461</b></h1>
  </ion-card>

<ion-row margin-top style="text-align:center;">
  <ion-col>
      <img class="iconsLogo" src="../../assets/imgs/fb.png">
  </ion-col>
  <ion-col>
      <img class="iconsLogo" src="../../assets/imgs/wpp.png">
  </ion-col>
  <ion-col>
      <img class="iconsLogo" src="../../assets/imgs/tw.png">
  </ion-col>
  <ion-col>
      <img class="iconsLogo" src="../../assets/imgs/more.png">
  </ion-col>
</ion-row>

</ion-content>
