.menu {
  width: 35px;
  height: 5px;
  background-color: red;
  margin: 6px 0;
}

.menu-position {
	position: absolute;
	top: 10px;
	left:10px;
}


.referEarn_img {
    position:relative;
    width: 100%;
    height: 220px;
}

.referEarn_code {
		color: white;
		// width: calc(100% - 40px);
    width: 80%;
    margin-left:10%;
    margin-right:10%;
    position: absolute;
    top:170px;
    background-color:#54b61e;
    text-align: center; 
		box-shadow: 0px 14px 25px rgba(166, 214, 141, 0.6) !important;

		&:hover:not(.disable-hover) {
		--background:var(--ion-color-success-shade);    }

	}

// box-shadow: 0px 14px 25px rgba(166, 214, 141, 0.6) !important;

// &:hover:not(.disable-hover) {
// --background:var(--ion-color-success-shade);    }

.refer-info h2 {
    margin-top:80px;   
		color:#54b61e;
		//  color:var(--ion-color-dark-tint);
}

.refer-info p {

}

.referEarn_bd img {
    height: 80px;
    width: 80px;
    margin: auto;
}

.iconsLogo {
    height: 80px;
    widows: 80px;
}