<ion-header >
    <ion-toolbar class="toollbar text_whitetheme">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Choose cab</ion-title>
</ion-toolbar>
</ion-header>

<ion-content class="myview">

</ion-content>

<ion-footer>
    <ion-card class="text-black">
        <ion-card-header class="d-flex">
            <p class="text"> Wallet </p>
            <p class="center text">Choose Cab Type</p>
            <p class="end text">
                Person
            </p>
        </ion-card-header>
        <ion-card-content>
            <div class="cab_row">
            <div class="cab_container" *ngFor="let c of cabs">
                <div class="cab-type">
                    <div class="img-box" (click)="gonextpage(c._id);">
                        <img src="{{c.image}}">
                    </div>
                    <ion-badge item-end class="bg-green">{{c.company}}</ion-badge>
                    <div class="text">
                        <h5>{{c.model_name}}</h5>
                        <p style="color:black;"> &#x20B9; {{c.registration_date}}</p>
                    </div>
                </div> 
            </div> 
            </div> 

        <ion-row >
            <ion-col size="4">
                <ion-button expand="block" class="buttonchoosegreen">
                    <ion-icon name="md-time"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col size="8" no-margin>
                <ion-button expand="block" class="buttonchoosegreen" (click)="gotoSchedule();">request cab</ion-button>
            </ion-col>
        </ion-row>S
        </ion-card-content>        
    </ion-card>  
</ion-footer>
