
p {
    font-size: 1.2rem;
    font-weight: 500;
    color:  #b3b3b3;
    z-index: 99;
    display: flex;
    align-items: center;

    &.center {
        color: #000;
        text-align: center;
        margin: 0 auto;
        position: absolute;
        font-weight: 500;
        display: block;
        width: 100%;
        left: 0;
        right: 0;
        z-index: 1;

    }
}

.img-box {
    height: 55px;

    img {
        width: auto;
        display: inline-block;
        max-height: 100%;
    }
}

.cab-type {
    display: inline-block;
    position: relative;
    overflow: hidden;
    min-width: 100px;
    text-align: center;
    padding: 15px 5px 0;
}

.badge {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    --background:var(--ion-color-success-shade);
    font-size: .8rem;
    font-weight: 300;
    padding: 4px 9px;
}

.bg-green{
    --background:var(--ion-color-success-shade);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
    font-size: 12px;
}

.buttonchoosegreen{
    --background:var(--ion-color-success-shade);
    margin-top: 20px;
    box-shadow: 0px 14px 25px rgba(84, 182, 30, 0.6) !important;
}
.cab_row{ display: flex; overflow-x: auto;}

.cab_row .text{
    width: 100%;
    text-align: center;
}
.cab_row .text h5{ white-space: nowrap; font-size: 13px; font-weight: 600; text-transform: uppercase;}
.cab_row .text p{ display: block; font-size: 12px;font-weight: 500; color: #cdcdcd;}
.sc-ion-card-md-h{margin: 0px;}
