.submit_rating_btn {
    text-transform: uppercase;
    letter-spacing: .6px;
		margin:16px 16px 40px 16px;
		// padding:16px 20px 16px 20px;
		border-radius: 12px; 
    --background:var(--ion-color-danger);
    box-shadow: 0px 14px 25px rgba(214, 141, 141, 0.6) !important;

    &:hover:not(.disable-hover) {
    --background:var(--ion-color-dark-shade);   
    }

}

.fare_summery h5{
    text-align: center;
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: 1.6px;
    color:var(--ion-color-dark-shade);
    margin: 0;
}
.bar
{
	width: 70px;
  height: 4px;
	background-color: #54b61e;
	border-radius: 10px;
	margin: 16px auto 0 auto;
	
}
.fare_summery h4{
    text-align: center;
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: 1.6px;
    color:var(--ion-color-dark-shade);
    margin: 0;
}

.fare_summery h1 {
    text-align: center;
    font-size: 60px;
    font-weight: 1000;
    text-transform: capitalize;
    letter-spacing: 1px;
		margin:60px auto 0 auto;
}

.driver_profile {
	margin-top: 50px;
}
.driver_profile img {
	width: 50px;
	height: 50px;
	border-radius: 10px;
}

.driver_profile h5 {
    display: block;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 1.6px;
    color:var(--ion-color-dark-tint);
}

.driver_profile h3 {
    text-align: left;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 1px;
		display: block;
		margin:8px 0 0 0;
}

.icon_rating {
	font-size: 50px;
	color: grey;
	margin: auto;
text-align: center;
}

.footer-bg {
	height:240px;
	background-color:lightgray;
	// --background:var(--ion-color-danger);
}
