<ion-header style="margin-bottom: 100px;">
  <ion-toolbar float left class="toollbar text_whitetheme">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>          
    <h4 no-margin float-left>RECEIPT</h4>
  </ion-toolbar>
</ion-header>
<ion-content>
<div class="fare_summery">

  <h5>Fare Summery</h5>
  
  <div class="bar"></div>

  <h1><b>$23.00</b></h1>

  <h4>22 Oct, 2019, 12:30</h4>
</div>
<ion-row class="driver_profile">
  <ion-col size="4">
    <img float-right src="assets/imgs/fare.png">
  </ion-col>
  <ion-col size="8">
    <h5 no-margin>Rate Now</h5>
    <h3 no-margin><b>Tarun Kumar</b></h3>
  </ion-col>
</ion-row>

</ion-content>

<ion-footer class="footer-bg">
  <ion-row margin-top>
    <ion-col style="margin:auto; text-align: center;">
      <div>
        <rating [(ngModel)]="rate"
              readonly="false"
      size="default"
      (ngModelChange)="onRateChange($event)">
      </rating>
      </div>
    <!-- <div>
    <ion-icon class="icon_rating" name="md-star"></ion-icon>
    <ion-icon class="icon_rating" name="md-star"></ion-icon>
    <ion-icon class="icon_rating" name="md-star"></ion-icon>
    <ion-icon class="icon_rating" name="md-star"></ion-icon>
    <ion-icon class="icon_rating" name="md-star"></ion-icon>
    </div> -->
  </ion-col>
  </ion-row>

  
    <ion-button expand="block"  text-uppercase class="submit_rating_btn" (click)="setFeedback()">SUBMIT RATING</ion-button>
  
</ion-footer>
