<ion-header style="margin-bottom: 100px;">
        <ion-toolbar class="toollbar text_whitetheme">
                <ion-title>Log in</ion-title>
        </ion-toolbar>
</ion-header>

<ion-content padding-left padding-right padding-top text-center>
  <div>
  <img src="assets/imgs/logo.png" class="logo">
  <div padding>
    <form  #login="ngForm" id="loginform" (ngSubmit)="validateuser(login)">
      <ion-list class="form" no-lines>
          <ion-item class="bg-light">
              <ion-label>Phone Number</ion-label>
              <ion-input name="Phone" type="text"  required [(ngModel)]="Phone" text-end maxlength="10" minlength="10" pattern="^[1-9][0-9]*$"  ></ion-input>
          </ion-item>

          <!-- <ion-item class="bg-light">
              <ion-label></ion-label>
              <ion-input class="password" type="password" value="*******" text-end></ion-input>
          </ion-item> -->
      </ion-list>
      <div *ngIf="Phone && Phone.errors">
            <p *ngIf="Phone.errors.required " class="error-msg">work phone is required</p>
      </div>
      <ion-button expand="block" type="submit"  text-uppercase class="buttongreen_login" [disabled]="login.invalid" >login</ion-button>
    </form>
      
  </div>

  <ion-row style="margin: auto">
      <ion-col routerLink="/signup" routerDirection="forward"><small style="font-size:20px;">New user <strong class="text-theme">Sign up</strong></small></ion-col>
  </ion-row>
  <!-- <p padding text-center class="option-login"><span>or_continye_with</span></p>
  <ion-row padding-left padding-right class="socile_media_btn">
      <ion-col>
          <button text-capitalize ion-button icon-left block class="fb_btn text-white btn  shadow-blue">
              <img src="assets/imgs/fb_white.png">
            facebook
          </button>
      </ion-col>
      <ion-col>
          <button text-capitalize ion-button icon-left block class="google_btn text-dark btn  shadow-black">
              <img src="assets/imgs/google.png">
            google
          </button>
      </ion-col>
  </ion-row> -->
</div>
</ion-content>
