img {
    display: block;

    &.logo {
        margin: 0 auto !important;
        width: 99px;
        margin-bottom: 20px;
        margin-top: 29px;
    }
}

.option-login {
    position: relative;
    font-size: 1.2rem;
    font-weight: 500;
    width: calc(100% - 45px);
    margin: 30px auto;
    margin-bottom: 6px;

    &::after,
    &::before {
        display: block;
        width: 18%;
        height: 1px;
        background: lightgray;
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;

    }

    &::after {
        right: 0;
        left: unset;
    }
}

.row {
    .col {
        small {
            font-size: 1.2rem;
            font-weight: 500;
        }

        strong {
            margin: 0 4px;
        }
    }
}

.socile_media_btn {
    .button.btn {
        padding: 0;

        .button-inner {
            width: 100%;
            padding: 0;
        }

        img {
            width: 20px;
            position: relative;
            left: -11px;
        }

        &.fb_btn {
            background: #2553b4;
        }

        &.google_btn {
            background: #fff;
            color: gray;
        }
    }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  display: none;
  margin: 0; 
}
.buttongreen_login{
    --background:var(--ion-color-success-shade);
    margin-top: 20px;
    box-shadow: 0px 14px 25px rgba(84, 182, 30, 0.6) !important;
}

