<ion-header class="footer-bg">
  <ion-toolbar>
    <ion-title>bookmyRide</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="map">
		<img src="assets/imgs/map2.png">
	</div>
</ion-content>


<ion-footer no-border class="footer-bg" [ngClass]="viewType == 'active' ? 'footer active':'footer'">
    <div class="card-box">
        <ion-card  class="text-black">
 
						
            <ion-card-content style="background-color:white;margin-bottom:10px;">
                <ion-row no-padding>
                    <ion-col no-padding size="6">
                            <!-- <small float-left>Driver Info</small> -->
                            <small float-left style="display: block"  class="text-black"><b>Driver Info</b></small>
                    </ion-col>
                    <ion-col size="6">
                            <!-- <small float-right><p class="txt-green">Cancel Ride</p></small> -->
                            <small float-right style="display: block"  class="text-green">Cancel Ride</small>
                    </ion-col>
                </ion-row>  
                <ion-list no-line>
                    <ion-item no-padding no-line>
                        
                            <img class="driver_img" src="assets/imgs/2.png">
                        
                    <h3 class="text-black" no-textwrap>
                            <b>{{drivername}}</b>
                        <br>
                        <p class="text-black">4.7
                            <span>
                                <ion-icon class="rating" name="star">star</ion-icon>
                                <ion-icon class="rating" name="star">star</ion-icon>
                                <ion-icon class="rating" name="star">star</ion-icon>
                                <ion-icon class="rating" name="star">star</ion-icon>
                                <ion-icon style="color:gray;" name="star">star</ion-icon>
                            </span>
                        </p>
                    </h3>
    </ion-item>
                </ion-list>
                <ion-row no-padding class="car_details">
                    <ion-col size="8">
                        <small class="text-light">Hyundai WagonR</small>
                        <strong class="text-black">DL1 ZA 5887</strong>
                    </ion-col>
                    <ion-col size="4">
                        <small class="text-light">Arriving in  </small>
                        <strong class="text-black">{{contactno}}</strong>
                    </ion-col>
                </ion-row>
                <div text-center padding-left padding-right>
										<ion-button expand="block"  text-uppercase class="contact_driver_btn"  routerLink="/rider-rating" routerDirection="forward">Contact</ion-button>
			
                    <div class="icon_box">
                        <ion-icon name="ios-arrow-up" class="up_icon" (click)="setViewType('active')"></ion-icon>
                        <ion-icon name="ios-arrow-down" class="down_icon" (click)="setViewType(null)"></ion-icon>
                    </div>
                </div>
            </ion-card-content>

            <ion-card-content style="background-color:white;" class="trip_info">

                    <div class="driver_list">
                            <!-- <div class="driver_details">
                                <div class="driver_img">
                                    <img src="assets/imgs/2.png">
                                </div>
                                <div class="text_box">
                                    <p>
                                        Today 8:21 am
                                        <span class="end">$85.00</span>
                                    </p>
                                    <p class="">
                                        Suzuki Swift Dezire
                                        <span class="end">Paid Via Wallet</span>
                                    </p>
                                </div>
                            </div> -->
                            <div class="from_to">
                                <h6>Trip-info</h6>
                                <div class="box from">
                                    <p>From</p>
                                    <h6>{{fromname}}</h6>
                                </div>
                                <div class="box to">
                                    <p>To</p>
                                    <h6>{{toname}}</h6>
                                </div>
                            </div>
                          </div>


                <ion-row padding class="car_details">
                    <ion-col size="3">
                        <small class="text-light">Distance  </small>
                        <strong class="text-black">08 km</strong>
                    </ion-col>
                    <ion-col size="5">
                        <small class="text-light">Traveling_time </small>
                        <strong class="text-black">Est. 16 mins</strong>
                    </ion-col>
                    <ion-col size="4">
                        <small class="text-light">Arrival  </small>
                        <strong class="text-black">12:38 pm</strong>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </div>
</ion-footer>

