<ion-app>
  <ion-split-pane>
    <ion-menu>
      <!-- <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header> -->
      <ion-content>
          <ion-list class="profile_info">
              <div class="profile_bg">
                  <img src="assets/imgs/profile_pix.png">
              </div>
              <!-- <ion-item menuClose (click)="profilePage()">
                  <ion-avatar slot="start">
                      <img src="assets/imgs/fare.png">
                  </ion-avatar>
                  <ion-col style="display:block">
                  <h6 class="text-white">Sam Smith</h6>
                  <p class="text-white">View Profile</p>
                </ion-col>
              </ion-item> -->
              <div class="profle_inner">
                  <ion-avatar slot="start">
                      <img src="assets/imgs/fare.png">
                  </ion-avatar>
                  <ion-col style="display:block">
                  <h6 class="text-white">Sam Smith</h6>
                  <p class="text-white">View Profile</p>
                </ion-col>
              </div>
          </ion-list>
        <!-- <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list> -->
        <ion-list lines="none">
            <ion-menu-toggle auto-hide="false">
            <ion-item menuClose routerLink="/home" routerDirection="forward">
                <h6>
                    <ion-icon slot="stayrt" name="md-navigate" class="text-green"></ion-icon>
                home</h6>
            </ion-item>
          </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
            <ion-item menuClose routerLink="/my-trips" routerDirection="forward">
                <h6>
                    <ion-icon slot="start" name="md-car" class="text-green"></ion-icon>
                    My Trips</h6>
            </ion-item>
          </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
            <ion-item menuClose routerLink="/payment" routerDirection="forward">
                <h6>
                    <ion-icon slot="start" name="md-card" class="text-green"></ion-icon>
                    Payment</h6>
            </ion-item>
          </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
            <ion-item menuClose routerLink="/help" routerDirection="forward" >
                <h6>
                    <ion-icon slot="start" name="md-alert" class="text-green"></ion-icon>
                    Help</h6>
            </ion-item>
          </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
            <ion-item menuClose routerLink="/refer-earn" routerDirection="forward">
                <h6>
                    <ion-icon slot="start" name="md-share" class="text-green"></ion-icon>
                    Refer and Earn</h6>
            </ion-item>
          </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
            <ion-item menuClose routerLink="/login" routerDirection="forward">
                <h6>
                    <ion-icon slot="start" name="md-power" class="text-green"></ion-icon>
                    Logout</h6>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
