p {
    font-size: 1.2rem;
    font-weight: 500;
    color:  #b3b3b3;
    z-index: 99;
    display: flex;
    align-items: center;

    &.center {
        color: #000;
        text-align: center;
        margin: 0 auto;
        position: absolute;
        font-weight: 500;
        display: block;
        width: 100%;
        left: 0;
        right: 0;
        z-index: 1;

    }
}

.buttonchoosegreen{
    --background:var(--ion-color-success-shade);
    box-shadow: 0px 14px 25px rgba(84, 182, 30, 0.6) !important;
}

.footer-bg {
    background-color: transparent;
    position: absolute;
    bottom: 0;
}
.footer-md:before{ display: none;}
.shedule_title h3{ font-size: 15px; font-weight: 600}
.date_time_picker ion-icon{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    cursor: pointer;
}
.date_time_picker ion-datetime{ padding-top: 35px;}