<ion-header >
  <ion-toolbar class="toollbar text_whitetheme">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Schedule</ion-title>
</ion-toolbar>
</ion-header>

<ion-content class="myview">

</ion-content>

<ion-footer padding class="footer-bg" >
  <ion-card class="text-black" style="background-color:aliceblue">
      <ion-card-header>
          <p class="center text">Schedule Pick Up</p>
      </ion-card-header>
      <ion-card-content>
        <ion-row style="margin-top:20px;">
          <ion-col >
              <div class="ion-text-center shedule_title">
                  <h3>Select Date</h3>
                </div>
          </ion-col>
        </ion-row>
        <div class=".ion-no-padding date_time_picker" style="text-align: center">
            <ion-row class=".ion-no-padding">
                <ion-col class=".ion-no-padding">
                    <!-- <p class="center text">September 17,sunday</p> -->
                    <ion-icon name="ios-calendar"></ion-icon>
                    <ion-datetime name="date"display-format="MMM DD, YYYY : hh:mm a" [(ngModel)]="date_time" [min]="today"></ion-datetime>
                </ion-col>
            </ion-row>
        </div> 
          <!-- <ion-row style="margin-top:20px;">
              <ion-col >
                  <div class="ion-text-center">
                      <h3>Select Time</h3>
                    </div>
              </ion-col>
            </ion-row>
            <div class=".ion-no-padding" style="margin-top:-15px;margin-bottom:20px;">
                <ion-row >
                    <ion-col>
                        <p class="center text">5:00pm</p>
                    </ion-col>
                </ion-row>
            </div>   -->
      <ion-row>
          <ion-col size="6">
              <ion-button expand="block" class="buttonchoosegreen" (click)="dissmiss();">
              cancel
              </ion-button>
          </ion-col>
          <ion-col size="6">
              <ion-button expand="block" class="buttonchoosegreen" (click)="setTrip();">confirm</ion-button>
          </ion-col>
      </ion-row>
      </ion-card-content>        
  </ion-card>  
</ion-footer>
