<ion-header>
        <ion-toolbar class="toollbar text_whitetheme">
                <ion-buttons slot="start">
                    <ion-back-button></ion-back-button>
                </ion-buttons>
                <ion-title>Otp verification</ion-title>
            </ion-toolbar>
</ion-header>


<ion-content padding>
    <div padding-left padding-right style="margin-top:80px;">
        <img src="assets/imgs/logo.png" class="logo">
        <!-- <div class="active-stage" padding>
            <ion-row text-center>
                <ion-col class="active"><span><strong></strong></span></ion-col>
                <ion-col class="active"><span><strong></strong></span></ion-col>
                <ion-col><span><strong></strong></span></ion-col>
            </ion-row>
        </div>
        <br> -->
        <p text-center padding>Enter confirmation code<br>sent to you via sms</p>
        <div padding-top>
            <ion-list class="form">
                <ion-item class="bg-light">
                    <ion-input type="text" value={{userotp}} text-center></ion-input>
                </ion-item>
            </ion-list>
            <ion-button expand="block" class="buttongreen" (click)="otpverification();">next</ion-button>
            <ion-button expand="block" class="buttongreen" (click)="resendotpverification();">resend</ion-button>
        </div>
    </div>
</ion-content>
