<ion-header>
  <ion-toolbar class="toollbar text_whitetheme">
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Where to</ion-title>
</ion-toolbar>
</ion-header>

<ion-content  class="myview">
    <ion-card no-padding style="background: #fff; border-radius: 10px;margin-top:30px;box-shadow: 0px 14px 25px rgba(0, 0, 0, 0.2) !important;">
        <div class="container" Style="margin-top:-50px">
            <ion-list no-lines>
                <ion-item class="from">
                        <img class="status_dot" item-start src="../assets/icon/green.png">
                        <ion-input type="text" [(ngModel)]="autocomplete.query" 
                        (ionInput)="updateSearch()"
                        placeholder="location from"></ion-input>
                    <ion-icon item-end name="md-locate"></ion-icon>
                </ion-item>
                <ion-item class="to disabled">
                    <img class="status_dot" item-start src="../assets/icon/green.png">
                    <ion-input type="text" [(ngModel)]="autocompleteN.nquery" 
                        (ionInput)="updateendSearch()"
                        placeholder="location to"></ion-input>
                    <ion-icon item-end name="md-locate"></ion-icon>
                </ion-item>
            </ion-list>
        </div>
        <div>
            <ion-list style="margin-top:50px;" no-lines>
            <ion-item *ngFor="let item of autocompleteItems" (click)="getLocation(item.description)">
            {{ item.description }}
            </ion-item>
            <!-- <ion-item>
                <ion-button expand="block"  text-uppercase class="buttongreen" (click)="closeModal()">Continue</ion-button>
            </ion-item> -->
            </ion-list>
        </div>
        <div>
            <ion-list no-lines>
            <ion-item *ngFor="let item of autocompleteEndItems" (click)="getendLocation(item.description)">
            {{ item.description }}
            </ion-item>
            <ion-item lines="none">
                <ion-button expand="block"  text-uppercase class="buttongreen" (click)="closeModal()">Continue</ion-button>
            </ion-item>
            </ion-list>
        </div>
    </ion-card>
</ion-content>
