
<ion-header>
        <ion-toolbar class="toollbar text_whitetheme">
            <ion-buttons slot="start">
                <ion-back-button></ion-back-button>
            </ion-buttons>
            <ion-title>Sign Up</ion-title>
        </ion-toolbar>
</ion-header>
<ion-content padding-left padding-right>
<div style="margin-top:80px">
<img src="assets/imgs/logo.png" class="logo">
    <!-- <ion-list style="margin-left: 20px;margin-right: 20px;">
        <ion-item class="bg-light">
            <ion-label>User Name</ion-label>
            <ion-input class="password" type="text" value="Rahul Roy" text-right></ion-input>
        </ion-item>
        <ion-item class="bg-light">
            <ion-label>Phone Number</ion-label>
            <ion-input type="text" value="+91 9876543210" text-right></ion-input>
        </ion-item>
    </ion-list>
    <ion-button class="buttongreen" expand="block" routerLink="/verification" routerDirection="forward">sign up now</ion-button> -->
    <form  #signup="ngForm" id="signupform" (ngSubmit)="signupUser(signup)" >
        <ion-item>
            <ion-input name="name" required type="text" placeholder="Name" required [(ngModel)]="uname" pattern="[a-zA-Z ]*"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input name="phone"  type="text" placeholder="Phone number" required maxlength="10" minlength="10" pattern="^[1-9][0-9]*$" [(ngModel)]="uphone"></ion-input>
        </ion-item>

        <ion-button expand="full" type="submit" class="buttongreen" [disabled]="signup.invalid" >Save</ion-button>
    </form>
    <ion-row padding-left padding-right padding-top text-center >
        <ion-col routerLink="/login" routerDirection="forward" Style="font-size:20px">Already registered? <strong class="text-theme">Sign in</strong></ion-col>
    </ion-row>
</div>
</ion-content>