<ion-header>
  <ion-toolbar class="toollbar text_whitetheme">
      <ion-buttons slot="start" >
          <ion-back-button defaultHref="/" ></ion-back-button>
      </ion-buttons>
      <ion-title float-left>PAYMENT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background:var(--ion-color-light);">
  <h3>
    Payment Methods
  </h3>
  <ion-card>
    <ion-list>
      <ion-row>
        <ion-col size="2">
          <img class="icons" src="../../assets/imgs/icon_cash.png">
        </ion-col>
        <ion-col size="10">
          <h1 no-margin><b>Cash</b></h1>
          <p>Pay with cash While Drive Show you amount</p>
        </ion-col>
      </ion-row>
    </ion-list>      
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-row>
        <ion-col size="2">
          <img class="icons" src="../../assets/imgs/icon_card.png">
        </ion-col>
        <ion-col size="10">
          <h1 no-margin><b>Card</b></h1>
          <p>Add Credit or Card and pay while booking</p>
        </ion-col>
      </ion-row>
    </ion-list>      
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-row>
        <ion-col size="2">
          <img class="icons" src="../../assets/imgs/icon-paytm.png">
        </ion-col>
        <ion-col size="10">
          <h1 no-margin><b>PayTm</b></h1>
          <p>Pay directly from your PayTm Wallet</p>
        </ion-col>
      </ion-row>
    </ion-list>      
  </ion-card>
</ion-content>
