// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');


*,
body,
html,
a,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
d,
strong,
lable,
li {
    font-family: 'Montserrat', sans-serif;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/font/material_icons.woff2') format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

rating {
    ion-icon {
      color: gray;
  
      &.filled {
        color: #308642 !important;
        // fill: #5eff00 !important;
      }
    }
  }

// #54b61e:#54b61e;
// #f5f4f4: #f5f4f4;
// #2553b4: #2553b4;
// #fff: #fff;
// #ffca28: #ffca28;
// #ff1e1e: #ff1e1e;
// #808080:#808080;

/* bg color */

.bg-theme {
    --background: #54b61e !important;
}





.bg-light {
    --background: #f5f4f4 !important;
}

.buttongreen{
    --background:var(--ion-color-success-shade);
    margin-left:20px;
    margin-right: 20px;
    margin-top: 20px;
    box-shadow: 0px 14px 25px rgba(84, 182, 30, 0.6) !important;
}
.text {
    font-size:17px;
    color: #000;
}

.myview{
    --background: url(/assets/imgs/home-bg.png)  no-repeat center center / cover ! important;
    background-size: cover;
    background-position: center;
    //position: absolute;
}
.item-inner{ border: 0px !important;}
.mytransparentview{
    --background: transparent;
--ion-color-base: transparent !important;
}

.toollbar{
    --background:var(--ion-color-success-shade);
    box-shadow: 0px 14px 25px rgba(84, 182, 30, 0.6) !important;
}

.text_whitetheme {
    color: #ffffff !important;
}

/* button style */


.button {
    &.btn {
        font-size: 1.3rem;
        font-weight: 500;
        text-transform: uppercase;
        height: 42px;
        box-shadow: none;
        background: #54b61e;
        text-transform: uppercase;
        letter-spacing: .6px;


        &:hover:not(.disable-hover) {
            background: #54b61e;
        }

        .button-inner {
            //letter-spacing: 2px;
        }

        &[block] {
            border-radius: 7px;
        }

    }
}

.d-flex {
    display: flex !important;
    align-items: center;
    width: 100%;

    .end {
        margin-left: auto;
        margin-right: 0;
        display: block;
    }
}

.shadow-green {
    box-shadow: 0px 14px 25px rgba(84, 182, 30, 0.6) !important;
}

.shadow-blue {
    box-shadow: 0px 14px 25px rgba(37, 83, 180, 0.5) !important;
}

.shadow-black {
    box-shadow: 0px 14px 25px rgba(0, 0, 0, 0.2) !important;
}

.shadow-black {
    box-shadow: 0px 14px 25px rgba(0, 0, 0, 0.2) !important;
}

.shadow-red {
    box-shadow: 0px 14px 25px rgba(182, 30, 30, 0.59) !important;
}


/* header color */

.header {
    &.bg-transparent {
        .toolbar-background {
            background: transparent !important;
        }
    }

    &::after {
        display: none;
    }

    .toolbar {
        .toolbar-background {
            background-color: #54b61e;
            border: none !important;
        }

        .title {
            .toolbar-title {
                font-size: 1.5rem;
                font-weight: 600;
                color: #fff;
                display: flex;
                align-items: center;
                letter-spacing: .5px !important;
                text-transform: uppercase;

                ion-icon {
                    font-size: 2.2rem;
                }
            }

            .end {
                margin-left: auto !important;

            }
        }
    }

    .bar-buttons {
        color: #fff;
        z-index: 999;
    }

    .back-button {
        color: #fff;
        z-index: 999;

        //        .ion-md-arrow-back:before {
        //            content: "\f3cf";
        //        }
    }

    .toolbar-ios {
        ion-title {
            padding: 0 16px;
            position: unset;

            .toolbar-title-ios {
                text-align: justify;
            }
        }

        .bar-buttons-ios {
            color: #fff;
        }

        .back-button-text {
            display: none;
        }
    }

    .bar-button-default:hover:not(.disable-hover) {
        color: lighten(#808080, 100%);
    }
}

/* menu css */
ion-menu {
    .menu-inner {
        width: 77%;

        .header {
            .list {
                .profile_bg {
                    position: relative;
                    width: 100%;
                    height: 180px;
                    overflow: hidden;

                    img {
                        position: absolute;
                        top: 0;
                        left: -50% !important;
                        right: -50% !important;
                        bottom: 0;
                        width: 100%;
                        height: 100%;
                        margin: auto;
                        filter: blur(3px);
                    }
                }

                .item {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    padding: 0 26px 0 26px;

                    .label {
                        h2 {
                            color: #fff;
                            font-size: 1.2rem;
                            font-weight: 600;
                            text-transform: uppercase;
                            letter-spacing: 1.7px;
                        }

                        p {
                            color: lighten(#808080, 20%);
                            font-size: 1.2rem;
                        }
                    }

                    ion-avatar {
                        margin: 0;
                        border-radius: 5px;
                        position: relative;
                        overflow: hidden;
                        width: 55px;
                        height: 55px;
                        margin-right: 16px;

                        img {
                            position: absolute;
                            top: 0;
                            left: -50% !important;
                            right: -50% !important;
                            bottom: 0;
                            width: 150%;
                            height: 100%;
                            margin: auto;
                            border-radius: 0;
                            max-width: unset;
                        }
                    }
                }
            }
        }

        .list {
            margin-bottom: 0;

            .item {
                padding: 0;
                background: none;

                .item-inner {
                    padding: 0;

                    .label {
                        margin: 0;
                    }
                }
            }
        }

        .scroll-content {
            .list {
                padding-top: 17px;

                .item {
                    padding: 5px 15px 5px 15px;

                    ion-avatar {
                        margin: 0 !important;
                        min-height: unset;
                        min-width: unset;
                        margin-right: 25px !important;

                        ion-icon {
                            color: #54b61e;
                            font-size: 2rem;
                        }
                    }

                    .label {
                        h2 {
                            font-weight: 700;
                            font-size: 1.3rem;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
}

.form {
    border-radius: 7px;
    overflow: hidden;

    .item {
        border-bottom: 1px solid lighten(#808080, 30%) !important;
        box-shadow: none ! important;

        &:last-child {
            border-bottom: none !important;
        }

        .item-inner {
            padding: 0;
            border: none ! important;
            box-shadow: none ! important;

            .label {
                font-size: 1.1rem;
                font-weight: 500;
                color: darken(#808080, 10%);
                margin: 0;
            }

            ion-input {
                .text-input {
                    font-size: 1.3rem;
                    font-weight: 500;
                    color: darken(#808080, 100%);
                    margin: 0;
                    width: 100%;
                }

                &.password {
                    .text-input {
                        letter-spacing: 5px;
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

.scroll-bar-indicator {
    display: none;
}

.back-button-text {
    display: none;
}

.mymap {
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
    position: fixed !important;
}

[dir="rtl"] body {
    .header {
        .toolbar {
            .title {
                .toolbar-title {
                    .end {
                        margin-left: 0 !important;
                        margin-right: auto !important;
                    }
                }
            }
        }
    }

    .d-flex {
        .end {
            margin-left: 0;
            margin-right: auto;
        }
    }

    .form .item .item-inner ion-input .text-input {
        text-align: left !important;
    }

    page-login .socile_media_btn .button.btn img {
        left: unset;
        right: -11px;
    }

    page-verification .form .item .item-inner ion-input .text-input {
        text-align: center !important;
    }

    page-addcard .row .col:first-child {
        border-right: 0 !important;
        border-left: 1px solid lighten(#808080, 30%) !important;
    }

    page-referralcode .card .card-content .form .item .item-inner ion-input .text-input {
        text-align: right !important;
    }

    page-location .list.form .item,
    page-home .list.form .item {
        padding: 1px 10px 0px 0px;

        .item-inner .label {
            margin-right: 0px;
            margin-left: 10px;
        }

        ion-icon[item-start] {
            margin-right: 0px;
            margin-left: 10px;
        }

        &::before,
        &::after {
            left: unset;
            right: 22px;
        }

        .item-inner ion-input .text-input {
            text-align: right !important;
        }
    }

    page-location .container .past_location h2 ion-icon {
        margin-right: 10px;
        margin-left: 10px;
    }

    page-choosecab .footer .card-box .card {
        .card-header p ion-icon {
            margin-right: 0px;
            margin-left: 8px;
        }

        .card-content .cab_container ion-scroll .cab-type {
            &:first-child {
                margin-left: 0;
                margin-right: 16px;
            }

            &:last-child {
                margin-right: 0;
                margin-left: 16px;
            }
        }
    }

    page-bookride .card-box .card ion-card-content {
        .list .item ion-avatar[item-start] {
            margin-right: 0px;
            margin-left: 14px;
        }

        &.trip_info .list.form .item {
            ion-icon[item-start] {
                margin-right: 0;
                margin-left: 10px;
            }

            &::before,
            &::after {
                left: unset;
                right: 31px;
            }
        }
    }

    page-farerate {
        .list.radio_container .item .label {
            margin-left: 0px;
            margin-right: 10px;
        }

        .list ion-item ion-avatar[item-start] {
            margin-right: 0px;
            margin-left: 14px;
        }
    }

    ion-menu .menu-inner {
        .header .list .item ion-avatar {
            margin-left: 16px;
            margin-right: 0;
        }

        .scroll-content .list .item ion-avatar {
            margin-right: 0 !important;
            margin-left: 25px !important;
        }
    }

    page-profile .list.form .item .item-inner {
        .label {
            transform-origin: right top !important;
        }

        ion-input .text-input {
            text-align: right !important;
        }
    }

    page-mytrips .list .item .item-inner .label {
        .driver_details .driver_img {
            margin-right: 0px;
            margin-left: 10px;
        }

        .from_to .box {

            &::before,
            &::after {
                left: unset;
                right: 9px;
            }

            ion-icon {
                margin-right: 0px;
                margin-left: 10px;
            }
        }
    }

    page-wallet .list .item .item-inner .label .driver_details .driver_img {
        margin-right: 0px;
        margin-left: 10px;
    }

    page-help .list .item {
        padding: 9px 25px 12px 16px;
    }

}


.profile_bg {
    position: relative;
    width: 100%;
    height: 180px;
    overflow: hidden;
    
    img {
    position: absolute;
    top: 0;
    left: -50% !important;
    right: -50% !important;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    filter: blur(2px);
    }
    }
    
    .text-green{
    color: #54b61e;
    padding-right: 30px;
    }
    .profile_info{ position: relative;}
    .profile_info .profle_inner{ 
    position: absolute;
    left: 0px;
    top: 50%;
    background-color: transparent;
    transform: translateY(-50%);
    width: 100%;
    box-shadow: none;
    color: #fff;
    padding: 0px 15px;
    }
    .profile_info ion-avatar{
    --border-radius: 0px;
    }
    .profile_info h6{ font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    width: 100%;
    margin: 0;}
    .profile_info p{margin: 0;
    font-size: 11px;
    padding-top: 3px;
    font-weight: 100;
    }
    ion-content ion-scroll {
        background-size: cover;
    }