<ion-header>
    <ion-toolbar class="toollbar text_whitetheme">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Help</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
  <div class="bg-color-content">
    <div  class="help_lists">
        <h2 style="font-size: 13px;color:darkgray;">Choose your issue</h2>
        <div class="in-list">                      
            <h3 style="font-size: 16px;margin-top:0px;"><b>Trips and Fare</b>
                <ion-icon name="ios-arrow-down" style="color:#808080;float: right;"></ion-icon>
            </h3>          
           <p style="font-size: 12px;color:darkgray;margin-top:-5px;margin-bottom:0px">Any issue regarding your trip and fare
            </p>
        </div>

        <div class="in-list">                      
            <h3 style="font-size: 16px;margin-top:0px;"><b>Payment</b>
                <ion-icon name="ios-arrow-down" style="color:#808080;float: right;"></ion-icon>
            </h3>          
           <p style="font-size: 12px;color:darkgray;margin-top:-5px;margin-bottom:0px">Problem while paying fare or related
            </p>
        </div>

        <div class="in-list">                      
            <h3 style="font-size: 16px;margin-top:0px;"><b>App Usability</b>
                <ion-icon name="ios-arrow-down" style="color:#808080;float: right;"></ion-icon>
            </h3>          
           <p style="font-size: 12px;color:darkgray;margin-top:-5px;margin-bottom:0px">Any issue while using our app
            </p>
        </div>

        <div class="in-list">                      
            <h3 style="font-size: 16px;margin-top:0px;"><b>Account</b>
                <ion-icon name="ios-arrow-down" style="color:#808080;float: right;"></ion-icon>
            </h3>          
           <p style="font-size: 12px;color:darkgray;margin-top:-5px;margin-bottom:0px">Your account info can't change details or change password
            </p>
        </div>
      
      </div>
  </div>  
</ion-content>
