.help_lists{padding: 5px; background: #e0dfdf; width: 100%;}
.help_lists .in-list{border-radius: 4px; background: #fff; padding: 5px;  margin: 5px 0;}
.bg-color-content{ background: #e0dfdf; height: 100%;}