.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.scroll-content {
  margin-top: 0 !important;
}

.scroll {
  height: 100%
}

#map {
  width: 100%;
  height: 100%;
}

.status_dot{
    width:15px;
    height:15px;
    margin-right:10px;
}


button.bar-buttons {
  display: block !important;
  color: white !important;
}

.container {
  position: relative;
  top: 57px;
  width: calc(100% - 50px);
  margin: 0 auto;
}

.list {
  &.form {
      position: relative;
      overflow: hidden;

      .item {
          padding: 1px 0px 0px 10px;
          align-items: flex-start;
          position: relative;
          border-bottom: none !important;

          &::before,
          &::after {
              content: '';
              position: absolute;
              top: 0;
              left: 21px;
              background: gray;
              width: 1px;
              height: 50%;
              display: block;
              margin: auto;
          }

          &::after {
              bottom: 0;
              top: unset;
          }

          &:first-child {
              &::before {
                  display: none;
              }
          }

          &:last-child {
              &::after {
                  display: none;
              }
          }

          ion-icon {
              &[item-start] {
                  font-size: 1.8rem;
                  position: relative;
                  top: 15px;
                  z-index: 99;
                  margin: 0;
                  margin-right: 10px;
              }
          }

          &.from {
              ion-icon {
                  &[item-start] {
                      color: blue;
                  }
              }
          }

          &.to {
              ion-icon {
                  &[item-start] {
                      color: yellow;
                  }
              }
          }

          .item-inner {
              align-items: center;
              border-bottom: 1px solid lightgray !important;
              margin: 0;

              &:last-child {
                  border-bottom: 0 !important;

              }

              .label {
                  min-width: 34px;
                  margin-right: 10px;
                  font-size: 1.3rem;
                  color: lightgray;
              }

              ion-icon {
                  &[item-end] {
                      min-width: 40px;
                      text-align: center;
                      margin: 0;
                      font-size: 1.8rem;
                      position: relative;
                      top: 7px;
                  }
              }
          }

          &.disabled {
              .item-inner ion-input .text-input {
                  color: lightgray;
                  font-weight: 400 !important;
              }
          }

      }
  }
}

