<ion-header no-border class="bg-transparent">
        <ion-toolbar class="toollbar text_whitetheme">
                <!-- <ion-buttons slot="start">
                    <ion-back-button></ion-back-button>
                </ion-buttons> -->
                <ion-row>
                    <ion-col size="1" (click)="menutoggle();"><ion-icon style="color: #fff; width:25px;height:25px;" name="menu"></ion-icon></ion-col>
                    <ion-col size="11" no-padding style="margin-top: 6px;"><ion-title>Home</ion-title></ion-col>
                </ion-row>    
        </ion-toolbar>        
</ion-header>

<ion-content class="myview">
  <div #map id="map" class="mymap"></div>
  <div class="container">
      <ion-list class="form shadow-black" no-lines>
          <ion-item class="from" (click)="gotomodal();" lines="none">
              <img class="status_dot" item-start src="../assets/icon/green.png">
              <ion-label>where to go?</ion-label>
              <ion-icon item-end name="md-locate"></ion-icon>
          </ion-item>
          <!-- <ion-item class="to disabled">
              <ion-icon class="material-icons" item-start>fiber_manual_record</ion-icon>
              <ion-label text-end>to</ion-label>
              <ion-input type="text" ></ion-input>
          </ion-item> -->
      </ion-list>
  </div>
</ion-content>
