.curly_box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 360px;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
    opacity: .5;

    &.a {
        --background: lighten(#47df3aaf, 5%);
        animation: animate 2s linear infinite;
        animation-delay: 0s;

    }

    &.b {
        --background: lighten(#47df3aaf, 10%);
        animation: animate 2s linear infinite;
        animation-delay: 5s;

    }

    &.c {
        --background: lighten(#47df3aaf, 20%);
        animation: animate 2s linear infinite;
        animation-delay: 10s;

    }

    &.c {
        --background: lighten(#47df3aaf, 30%);
        animation: animate 2s linear infinite;
        animation-delay: 15s;

    }
}

.map {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }

}

.big_box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 360px;
    width: 360px;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;

    h2 {
        z-index: 99;
        position: absolute;
        top: 90px;
        width: 100%;
        left: 0;
        margin: 0;
        font-size: 1.55rem;
        font-weight: 700;

    }

    .cab_info {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100px;
        height: 100px;
        z-index: 99;
        margin: auto;

        .cab_img {
            position: relative;
            overflow: hidden;
            border-radius: 5px;
            width: 80px;
            height: 80px;
            margin: auto;
            box-shadow: 0 13px 20px -3px rgba(0, 0, 0, 0.2);

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: -50% !important;
                right: -50% !important;
                bottom: 0;
                margin: auto;
            }
        }

        h3 {
            margin: 0;
            font-size: 1.2rem;
            font-weight: 500;
            margin-top: 10px;
        }

    }

    .curly_box {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 360px;
        margin: auto;
        overflow: hidden;
        border-radius: 50%;
        opacity: .5;

        &.a {
            background: lighten(#47df3aaf, 5%);
            animation: animate 2s linear infinite;
            animation-delay: 0s;

        }

        &.b {
            background: lighten(#47df3aaf, 10%);
            animation: animate 2s linear infinite;
            animation-delay: 5s;

        }

        &.c {
            background: lighten(#47df3aaf, 20%);
            animation: animate 2s linear infinite;
            animation-delay: 10s;

        }

        &.c {
            background: lighten(#47df3aaf, 30%);
            animation: animate 2s linear infinite;
            animation-delay: 15s;

        }

        @keyframes animate {
            0% {
                //opacity: .4;
                //transform: translateX(20px) rotate(0deg);
                width: 0;
                height: 0;
            }

            10% {
                width: 25px;
                height: 25px;
            }

            100% {
                width: 100%;
                height: 100%;
                opacity: .4;

            }
        }
    }
}