<ion-header>
</ion-header>

<ion-content padding routerLink="/bookmy-ride" routerDirection="forward">
    <div class="map">
        <img src="assets/imgs/map2.png">
    </div>
    <div class="big_box">
        <h2 text-center>Finding Your Ride</h2>
        <div class="curly_box a"></div>
        <div class="curly_box b"></div>
        <div class="curly_box c"></div>
        <div class="curly_box d"></div>

        <div class="cab_info">
            <div class="cab_img">
                <img src="assets/imgs/car2.png">
            </div>
            <h3 text-center>GoMeOnly</h3>
        </div>
    </div>
</ion-content>
